.reportscomponents {
    width: 100%;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.statsboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

nav a:hover {
    text-decoration: none;
}

.statswrap {
    width: 86.4vw;
    min-height: 600px;
    margin-top: 10vh;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.statsinstance {
    width: 240px;
    height: 256px;
    border: 1px solid black;
    margin: 25px;
    font-size: 16px;
    background-color: #A2E494;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.gridoption {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    margin-top: auto;
}

.viewbutton {
    margin-left: auto;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.viewbutton:hover {
    cursor: pointer;
}

.redirectcriteria{
    color: #13714C;

    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    margin: 20px;
}

.redirectcriteria:hover{
    text-decoration: underline;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; /* Start hidden */
    transform: translateY(-50px); /* Start from above */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for fade-in and slide */
}

.modal.open {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}


.modal-content {
    margin: 0 auto;
    background-color: #A2E494;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    max-width: 600px; /* Constrain modal width */
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.modal-content span h1 {
    margin: 0;
    padding: 10px;
    background-color: #A2E494;
    font-size: 24px;
    border-radius: 8px 8px 0 0;
    text-align: left;
}

.modal-content span {
    display: block;
}

.modal-content p {
    margin: 10px;
}

/* Style for MUI PieChart tooltip */
.MuiChartsTooltip-root {
    max-width: 300px !important;
    white-space: normal !important;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white !important;
    border-radius: 4px !important;
    padding: 8px !important;
}

h3 {
    font-size: 24px;
    margin: 10px;
}

.chartwrapper{
    margin-top:20px;
    border:1px solid black;
    margin:20px;
    padding:20px;
}