.reportscomponents {
    width: 100%;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.statsboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

nav a:hover {
    text-decoration: none;
}

.statswrap {
    width: 86.4vw;
    min-height: 600px;
    border: 1px solid black;
    margin-top: 10vh;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.statsinstance {
    width: 240px;
    height: 256px;
    border: 1px solid black;
    margin: 25px;
    font-size: 16px;
    background-color: #A2E494;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.gridoption {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    margin-top: auto;
}

.viewbutton {
    margin-left: auto;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.viewbutton:hover {
    cursor: pointer;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 0 auto;
    background-color: white;
    padding: 0; /* No padding for the header */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.modal-content span h1 {
    margin: 0; /* No margin */
    padding: 10px; /* Add padding for better spacing */
    background-color: #A2E494; /* Header background color */
    font-size: 24px;
    border-radius: 8px 8px 0 0; /* Rounded corners for header */
    text-align: left;
}

.modal-content span {
    display: block;
}

.modal-content p {
    margin: 10px;
}

.pie-chart {
    margin: 20px 0; /* Space between text and pie chart */
    width: 100%; /* Make chart responsive */
    max-width: 300px; /* Limit max width */
}