nav {
    display: flex;
    align-items: center; 
    padding: 10px;
    background-color: #13714C;
    color: rgb(0, 0, 0);
    width: 100%; 
    box-sizing: border-box;
    z-index: 2;
}

h1 {
    font-weight: 400;
    color: white;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    background-color: #A2E494;
    margin: 100px auto 0;
    max-width: 1200px;
    height: 500px;
    border: none;
}

.container p {
    margin: 10px;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 0;
    margin-top: 20px; 
}

.fpassproper {
    margin-top: 20px; 
    padding: 10px;    
    text-align: center;
    display: flex;
    flex-direction: column;
}

.fpassproper a {
    cursor: pointer;
    margin: 10px;
    background: #13714C;
    color: white;
    width: 450px;
    font-size: 30px;
    border: none;
    border-radius: 50px; 
    height: 50px; 
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight:700;
}

.fpassproper input {
    padding: 10px; 
    height: 50px; 
    width: 450px;
    margin: 10px; 
    border-radius: 10px; 
    border: none;
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px; 
    font-weight:400;
}