


nav {
    display: flex;
    align-items: center; 
    padding: 10px;
    background-color: #13714C;
    color: rgb(0, 0, 0);
    width: 100%; 
    box-sizing: border-box;
    z-index: 2;
}

h1 {
    font-weight: 400;
    color: white;
}

.container {
    display: flex;
    align-self:center;
    justify-content: flex-start; 
    background-color: #A2E494;
    max-width: 1000px;
    height:384px;
    margin:120px;
    padding:15px;
}   
.proper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgottext {
    margin: 10px; 
    font-size: 24px;
    font-weight: 700; 
    color: black; 
}


.container img {
    width: 160px;
    height: 160px;
    border-radius: 0;
    margin-top: 40px; 
    padding:40px;

}

.fpassproper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;    
    text-align: center;
    display: flex;
    flex-direction: column;
}

.fpassproper a {
    cursor: pointer;
    margin: 10px;
    background: #13714C;
    color: white;
    width: 500px;
    font-size: 30px;
    border: none;
    border-radius: 50px; 
    height: 40px; 
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight:700;
}

.fpassproper input {
    padding: 10px; 
    height: 40px; 
    width: 500px;
    margin: 10px; 
    border-radius: 10px; 
    border: none;
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px; 
    font-weight:400;
}

