@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.components{
    width: 100%;
    display:flex;
    height: 100vh;
    box-sizing: border-box;
}

h1{
    font-weight:400;
    color:white;
}
.leftcomp, .rightcomp{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing:border-box;
}
button{
    font-family: 'Montserrat', sans-serif;
}
.register{
    cursor:pointer;
    margin-top: 20px;
    background: #13714C;
    color: white;
    width: 250px;
    font-size: inherit;
    border: none;
    border-radius: 50px;
    font-size: 28px;
    height:60px;
}
body{
    font-family: Montserrat, sans-serif;
    font-size: 40px;
}

nav{
    display: flex;
    align-items: center; 
    padding: 10px;
    background-color: #13714C;
    color: rgb(0, 0, 0);
    width: 100%; 
    box-sizing: border-box;
    z-index: 2;
}
.leftcomp p{
    width: 500px;
}
p{
    font-size: 20px;
}

h3{
    font-weight: 500;
    text-align: left;
}
form{
    display:flex;
    flex-direction: column;
}
form input {
    padding:10px;
    height: 20px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif; 
}
form input::placeholder{
    padding:10px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 12px;
}
form a {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block; 
}
form button {
    align-self: flex-end;
    margin-top: 10px;
    background-color: #13714C;
    width: 100px;
    border: 1px solid black;
    height: 40px;
    color: white;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.rightcomp{
    background-color: #A2E494;
}    
.rightcomp form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px; /* Padding defines how far the content is from the border */
    box-sizing: border-box;
}

.forgotlink{
    text-decoration: none;
    color: black;
    font-size:14px;
    text-align: center;
    display:block;
}
.forgotlink:hover{
    text-decoration: underline;
}

.login{
    border:none;    
}

/*.navlinks {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px; 
  }
  .navlinks input {
    display: none;
    border: 1px solid black;
  }
  .navlinks a {
    padding: 10px;
    color: #def2f1;
    text-decoration: none;
    cursor: pointer;
  }
  .navlinks a:hover {
    opacity: 1;
    background-color:#f8f7f5;
    color: rgb(0, 0, 0);
  }*/