@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    display: flex;
    align-items: center; 
    padding: 10px;
    background-color: #13714C;
    color: white;
    width: 100%; 
    box-sizing: border-box;
    z-index: 2;
    position: fixed; 
    top: 0;
    left: 0;
    height: 60px;
    font-size: 24px;
}

.registrationform {
    position: relative;
    background-color: #A2E494;
    margin: 100px auto 0;
    width: 90%;
    max-width: 1200px;
    padding: 30px;
}

h4 {
    font-weight: 400;
    margin: 20px 0;
    font-size: 28px;
}

.registrationform p {
    padding-left: 10px;
    font-weight: 300;
    font-size: 18px;
}

.registrationform input {
    display: inline-block;
    width: calc(20% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px; 
    font-family: 'Montserrat', sans-serif; 
    color: #333;
}

.registrationform input::placeholder {
    font-size: 14px; 
    font-family: 'Montserrat', sans-serif;
    color: #aaa;
}
.registrationform .formcaption {
    margin-bottom: 20px;
}

.registrationform .btn {
    background-color: #13714C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px auto;
    display: flex;
    text-align: center;
    width: fit-content;
}



@media (max-width: 768px) {
    .registrationform {
        width: 90%;
    }

    .registrationform input {
        width: calc(33% - 20px);
    }

    h4 {
        font-size: 22px;
    }

    .registrationform .formrow {
        flex-direction: column;
    }
}

.select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}

.gender-label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    width: calc(20% - 20px);
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    cursor: pointer;
}
select option {
    font-size: 12px; 
    font-family: 'Montserrat', sans-serif; 
    color: #333; 
    background-color: #fff; 
}